# Python
__pycache__/
*.pyc

# Outputs
output/
outputs/
*.png
*.jpg
*.zip

# Local Config of file directories
config_local.py

prompt_local/*

# Seeds / embeddings (optional)
# If you want these reproducible, KEEP them.
# If not, uncomment the next lines.
# seeds/
# embeddings/

# Hugging Face cache (server-side)
.cache/
